*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    padding: 100px -20px 100000000px;
    
}
.gradient-custom22 {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    margin-botton 16px;
    font-size: 18px;
}

.from-content {
    width: 100%;
max-width: 450px;
padding: 50px 60px 70px;
}

.containner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card:hover{
    transform: scale(1.0);
}
.gradient-custom23{
        background: linear-gradient(#2960f7, rgb(26, 43, 66));
    
}
